/*Header Settings*/
.header_content {
  height: 400px;
  width: 64%;
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form {
  min-height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input_area {
  min-height: 50px;
  width: 60%;
}

.btn_search {
  width: 18%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid white;
  min-height: 50px;
  max-width: 150px;
  text-align: center;
  background: #5474FD;
}

.scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.nav_header {
  background-color: #5474FD;
  width: 100%;
  position: relative;
  bottom: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav_bar {
  width: 64%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*Adjustmenst for smaller screens*/
@media screen and (min-width: 320px) and (max-width: 768px) {
  header {
    max-width: 320px;
  }

  .header_content {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  h1 {
    position: relative;
    top: 15px;
  }

  .form {
    position: relative;
    bottom: 20px;
    max-width: 370px;
  }

  .nav_bar {
    padding: 10px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 370px;
  }

  .nav_header {
    max-width: 370px;
  }
}
footer {
  min-height: 271px;
  max-width: 100%;
  background: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 320px;
}

/* Design headings and main content*/
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  color: #FFFFFF;
}

h2 {
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 6.82px;
  color: #FFFFFF;
}

h4 {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

h5 {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1.5px;
  color: #E8E8E8;
}

.phrase_slogan {
  font-size: 16px;
}

.main_text {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1.6px;
  color: #E8E8E8;
}

.input_area {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 2.8px;
  color: #999999;
}

/*Design navigation*/
.nav_design {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  padding: 15px;
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.nav_design:hover {
  text-decoration: underline;
}

/*Design button*/
.btn {
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #FFFFFF;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.btn:hover {
  text-decoration: underline;
  background-color: #2f55fd;
}

/*Fontawesome designs*/
.fas {
  color: white;
  font-size: 23px;
  text-align: center;
  position: relative;
  bottom: 10px;
}

.fa {
  font-size: 45px;
}

.fa-search, .fa-thumbs-up {
  color: #2f55fd;
}

.fa-check-circle {
  color: #FF6363;
}

.fab {
  padding: 10px;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 1.6px;
  color: #E8E8E8;
}

.fa-linkedin-in {
  color: #5474FD;
}

/*Logo design*/
.logo {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #FFFFFF;
}

/*Adjustmenst for smaller screens*/
@media screen and (min-width: 320px) and (max-width: 768px) {
  h1 {
    font-size: 20px;
    line-height: 10px;
  }

  h2 {
    font-size: 15px;
    line-height: 10px;
  }

  h3 {
    font-size: 13px;
    line-height: 4px;
  }

  h5, h4 {
    font-size: 12px;
    line-height: 0px;
  }

  .main_text {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    color: #E8E8E8;
  }

  .input_area {
    font-size: 10px;
    letter-spacing: 0px;
  }

  .nav_design {
    padding: 10px;
    font-size: 10px;
    line-height: 0px;
  }

  btn {
    font-size: 12px;
  }

  .fa {
    font-size: 18px;
  }

  .fas {
    display: none;
  }
}
.img1, .img2, .img5, .img6, .img7 {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}

.img3 {
  min-height: 220px;
  max-width: 350px;
  padding-bottom: 5px;
}

.img4 {
  min-height: 210px;
  max-width: 350px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 10px;
}

.img8 {
  min-height: 284px;
  max-width: 445px;
}

/*Adjustmenst for smaller screens*/
@media screen and (min-width: 320px) and (max-width: 768px) {
  .img1, .img2, .img5, .img6, .img7 {
    max-width: 320px;
  }

  .img3, .im4, .img8 {
    max-width: 270px;
  }
}
body {
  background-color: #000000;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first {
  background-image: url(../images/landscape1.png);
  background-size: cover;
}

.second {
  background-image: url(../images/landscape2.png);
  background-size: cover;
}

.third {
  background-image: url(../images/landscape5.png);
  background-size: cover;
}

.fourth {
  background-image: url(../images/landscape6.png);
  background-size: cover;
}

.fifth {
  background-image: url(../images/testimonial.png);
  background-size: cover;
}

/*First Section = Header settings*/
/*Second Section*/
.text1 {
  max-width: 45%;
  padding-right: 10px;
}

.sub_section {
  min-height: 340px;
  max-width: 100%;
  background: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 700px;
}

.box_content1 {
  height: 760px;
  max-width: 64%;
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pictures {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  margin-left: 120px;
}

/*Third and Fourth Section*/
.box_content2 {
  height: 360px;
  max-width: 60%;
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.box_content3 {
  height: 360px;
  max-width: 60%;
  position: absolute;
  z-index: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.info_box1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px;
  max-width: 50%;
  background-color: #232323;
  opacity: 0.9;
}

/*Fifth Section*/
.box_content4 {
  height: 400px;
  max-width: 90%;
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info_box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #333333;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text2 {
  max-width: 62%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 150px;
}

/*Other elements*/
.space {
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn_explore, .btn_book {
  min-height: 50px;
  min-width: 225px;
  border: none;
  text-align: center;
  background: #5474FD;
  opacity: 0.9;
  position: relative;
}

/*Adjustmenst for smaller screens*/
@media screen and (min-width: 320px) and (max-width: 768px) {
  main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 320px;
  }

  .section, .first, .second, .third, .fourth, .fifth {
    position: relative;
    max-width: 320px;
  }

  .box_content1, .box_content2, .box_content3, .box_content4, .sub_section {
    max-width: 320px;
  }
}