.education {
  /*background: url(../images/background2.png), no-repeat;*/
  background-size: cover;
}

.education .box-container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem 0;
  padding-left: 3rem;
}

.box-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem 0;
  padding-left: 0.3rem;
}

.education .box-container1 .box {
  width: 35rem;
  margin: 4rem 1rem;
  padding-left: 4rem;
  border-left: 0.2rem solid #fff;
  position: relative;
}

.education .box-container1 .box span {
  font-size: 1.3rem;
  background: #747171;
  color: #fff;
  border-radius: 5rem;
  padding: 0.5rem 2.5rem;
}

.education .box-container1 .box h3 {
  font-size: 2rem;
  color: #747171;
  padding-top: 1.5rem;
}

.education .box-container1 .box p {
  font-size: 1.4rem;
  color: #eee;
  padding: 1rem 0;
}

.education .box-container1 .box i {
  position: absolute;
  top: -1.5rem;
  left: -2.5rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background: var(--yellow);
}

.image2 {
  margin-top: 20px;
  width: 100%;
  max-height: 250px;
  max-width: 250px;
  box-shadow: 0.3rem  0.3rem 1rem rgba(0,0,0,0.3);

 border-radius: 10%}