/*.btn{padding:0.7rem 3rem;
    background:#333;color:#fff;
    cursor:pointer;margin-top:1rem;
    font-size:3rem;
    border-radius:5rem;text-transform:capitalize}

.btn i{padding:0 0.5rem;font-size:1.8rem}
.btn:hover{background:var(--yellow)}*/

.heading
{text-align:center;
margin:0 6rem;font-size:4rem;
padding:1rem;
border-bottom:0.1rem solid #fff4;
color:#fff;padding-top:1.5em;text-transform:capitalize}

.heading span{color:var(--yellow)}

header{position:fixed;top:0;left:0;z-index:1000;
height:100%;width:36rem;
background-color:no-repeat;
background-size:contain;
display:-webkit-box;display:-ms-flexbox;
display:flex;
-webkit-box-align:center;-ms-flex-align:center;
align-items:center;
-webkit-box-pack:center;
-ms-flex-pack:center;justify-content:center;
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
-ms-flex-flow:column;flex-flow:column;
text-align:center}

/*header .user img{height:14rem;width:17rem;
border-radius:5%;-o-object-fit:cover;
object-fit:cover;margin-bottom:2rem;
border:0.7rem solid var(--yellow)}

header .user{font-size:3.5rem;color:#fff}
header .user{font-size:2rem;color:#eee}
header .navbar{width:100%}.navbar{margin-bottom:380px}
header .navbar ul{list-style:none;padding:1rem 3rem}
header .navbar ul li a{display:block;padding:1rem;margin:1.5rem 0;background:#868686;color:#fff;font-size:2rem;border-radius:5rem}
header .navbar ul li a:hover{background:var(--yellow)}

.btn{padding:0.7rem 3rem;cursor:pointer;
    margin-top:1rem;font-size:5rem;border-radius:5%}

.image{margin-top:350px;width:100%;
    max-height:250px;max-width:250px;
    margin-bottom:20px;
border-radius: #1abc9c}*/

/* Hamburger menu css */


.container_header {
    width: 100%;
    height: 100vh;
    /*background: linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(148, 48, 48, 0.2),
        rgba(0, 0, 0, 0.4)),
        url(./images/bg.jpg) center no-repeat;
    background-size: cover;*/
    position: relative;
}

.navbar {
    width: 300px;
    height: 100%;
    background-color: #262626;
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20% 0 0 60%;
    transition: right .8s cubic-bezier(1, 0, 0, 1);
}

.change {
    right: 0;
}


.hamburger-menu {
    width: 35px;
    height: 30px;
    background-color: #262626;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line {
    width: 100%;
    height: 3px;
    background-color: #1abc9c;
    transition: all 0.8s;
}

.chage .line-1 {
    transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change .line-2 {
    opacity: 0;
}

.change .line-3 {
    transform: rotateZ(405deg) translate(-8px, -6px);
}

.nav.list {
    text-align: right;
}

.nav-item {
    list-style: none;
    margin: 25px;
}

.nav-link {
    font-family: "Nunito", sans-serif;
    text-decoration: none;
    font-size: 22px;
    color: #eee;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
}

.nav-link::before, 
.nav-link::after {
    content:"";
    width: 100%;
    height: 2px;
    background-color: #1abc9c;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.nav-link::after { 
    bottom: 0;
    transform-origin: right;
}

.nav-link::before { 
    top: 0;
    transform-origin: left;
}

.nav-link:hover::before, 
.nav-link:hover::after {
    transform: scaleX(1);
}

