
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");
@import url(header.css);
@import url(home.css);
@import url(education.css);
@import url(portfolio.css);
@import url(bootstrap.css);
@import url(contact.css);;

:root {
  --yellow: #1abc9c;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

:root {
  --yellow: #1abc9c;
}

*::-moz-selection {
  background: var(--yellow);
  color: #333;
}

*::selection {
  background: var(--yellow);
  color: #333;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1.4rem;
}

html::-webkit-scrollbar-track {
  background: #222;
}

html::-webkit-scrollbar-thumb {
  background: var(--yellow);
}

body {
  background: rgba(255, 251, 251, 0);
  overflow-x: hidden;
  padding-left: 35rem;
}

section {
  min-height: 100vh;
  padding: 2rem;
}

#menu {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background: #333;
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem 1.5rem;
  z-index: 1000;
  display: none;
}

/* media queries  */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .home {
    padding: 1rem 4rem;
  }
}

@media (max-width: 991px) {
  header {
   left: -120%;
  }

  #menu {
    display: block;
  }

  header.toggle {
    left: 0%;
  }

  body {
    padding: 0;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 400px) {
  header {
    width: 100vw;
}

  .heading {
    margin: 0 3rem;

  }

  .about .row .counter .box {
    width: 100%;
  }

  .education .box-container .box {
    width: 100%;
  }

  .portfolio .box-container .box {
    width: 100%;
  }

  .contact .row form {
    margin: 3rem 0;
  }
}